body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:50px;
  width:267px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:222px;
  top:53px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:53px;
  width:10px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:53px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:72px;
  width:266px;
  height:429px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:429px;
}
#u11 {
  position:absolute;
  left:2px;
  top:206px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:44px;
  top:53px;
  width:15px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:241px;
  top:56px;
  width:18px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:199px;
  top:53px;
  width:15px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:190px;
  width:206px;
  height:291px;
  color:#333333;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:291px;
}
#u19 {
  position:absolute;
  left:2px;
  top:138px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:13px;
  top:72px;
  width:267px;
  height:38px;
  font-family:'Giddyup Std Bold', 'Giddyup Std';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC9900;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:263px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:24px;
  top:120px;
  width:61px;
  height:60px;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:12px;
  top:461px;
  width:268px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:438px;
  width:90px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:117px;
  top:445px;
  width:55px;
  height:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:48px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:127px;
  top:456px;
  width:36px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:471px;
  width:25px;
  height:25px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:21px;
  top:471px;
  width:25px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:200px;
  top:471px;
  width:25px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:240px;
  top:468px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:85px;
  top:135px;
  width:45px;
  height:30px;
  font-family:'Curlz MT Bold', 'Curlz MT';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:41px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:222px;
  top:140px;
  width:25px;
  height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
